// ===================================================================
// #Social Icon Colors
// ===================================================================
$color-twitter: #00aced !default;
$color-facebook: #3b5998 !default;
$color-googleplus: #dd4b39 !default;
$color-linkedin: #007bb6 !default;
$color-pinterest: #cb2027 !default;
$color-instagram: #517fa4 !default;
$color-youtube: #b00 !default;

// ===================================================================
// #FUI Colors http://flatuicolors.com/
// ===================================================================
// Turquoise
$color-fui-teal-light: #1abc9c !default;
// Green Sea
$color-fui-teal: #16a085 !default;
// Emerald
$color-fui-green-light: #2ecc71 !default;
// Nephritis
$color-fui-green: #27ae60 !default;
// Peter River
$color-fui-blue-light: #3498db !default;
// Belize Hole
$color-fui-blue: #2980b9 !default;
// Amethyst
$color-fui-purple-light: #9b59b6 !default;
// Wisteria
$color-fui-purple: #8e44ad !default;
// Wet Asphalt
$color-fui-navy-light: #34495e !default;
// Midnight Blue
$color-fui-navy: #2c3e50 !default;
// Sun Flower
$color-fui-yellow: #f1c40f !default;
// Orange
$color-fui-orange-light: #f39c12 !default;
// Carrot
$color-fui-orange: #e67e22 !default;
// Pumpkin
$color-fui-orange-dark: #d35400 !default;
// Alazarin
$color-fui-red-light: #e74c3c !default;
// Pomegranate
$color-fui-red: #c0392b !default;